/* Universal Styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

/* Header Section Styling */
header {
    background: black;
    color: white;
    text-align: center;
    height: 100px;
    padding: 30px;
    float: center;
}

/* Quiz Section Styling */
#timer {
    padding: 25px;
}

#content {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 300px;
}

#content #title {
    padding: 25px;
}

#message {
    padding-bottom: 25px;
    font-weight: normal;
}

.button {
    background-color: black;
    border: 2px solid grey;
    color: white;
    margin: 5px;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.button:active {
    background-color: white;
    transform: translateY(4px);
}

.questionButton {
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
  }
  
  .questionButton:hover {
    color: yellow;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }
  
  .questionButton:active {
    background-color: purple;
    box-shadow: 0 5px rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
  }
  
  #feedback {
    text-align: center;
    font-weight: bolder;
  }
  
  form {
    margin: 10px;
  }
  
  #scoreSubmit {
    padding: 8px;
  }
  
  #returnButton {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 300px;
    display: block;
  }
  
  .scoreStyle {
    background-color: purple;
    border: none;
    color: white;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

/* Footer Section Styling */
footer {
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
    height: 100px;
    padding: 30px;
    position: fixed;
}

footer h3 {
    text-align: center;
    font: 25px;
}